
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
  }

.product_rating {
    display: flex;
}

.product > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
  }

.product > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 5px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    padding: 0 35px 0 35px;
    font-size: 13px;
    line-height: 29px;
    border-radius: 4px;
}

.product_price {
    margin-top: 5px;
}

.product_info {
    height: 100px;
    margin-bottom: 15px;
}

@media (max-width: 680px) {
    .product {
        width: 95%;
        margin: 0 0 17px 8px;
        padding: 15px 0 15px 5px;
    }
}